

.Ball {
  border-radius: 50%;
  background: #fff;
  border: 1px solid #999;
  margin-left: -5px;
  margin-top: -5px;
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 1;
}

.Ball-selected {
  border-color: #000;
  z-index: 4;
}